<main>
	<header>
		<span>This Interior</span>
		<app-navigation></app-navigation>
	</header>

	<article class="design">
		<div class="design__text-group">
			<h1 class="design__text-group__title">Modern interior</h1>

			<p class="design__text-group__description">
				A full-Service residential & commercial interior design and staging company offering professional organizing & eco-services.
			</p>

			<a href="#" class="design__text-group__more" [tabIndex]="5">Read more <span class="arrow">&#8594;</span></a>
		</div>

		<div class="design__photo-group">
			<img class="design__photo-group__img" src="./../assets/photo1.png" alt="">

			<div class="design__photo-group__content">
				<div class="design__photo-group__designer">
					<img class="design__photo-group__designer__img" src="./../assets/photo2.png" alt="">
        			<p class="design__photo-group__designer__name">Aliza Webber</p>
				</div>

				<h2 class="design__photo-group__title">Designed in 2020 by Aliza Webber</h2>
			</div>
		</div>
	</article>
</main>