
<nav class="nav">
	<div class="nav__icon" *ngIf="(isMobileOrTablet$ | async); else desktopMenu" (click)="menuIsOpen = !menuIsOpen">
		<div class="nav__icon__hamburguer" [class.inactive]="menuIsOpen">
			<div class="nav__icon__hamburguer__line"></div>
			<div class="nav__icon__hamburguer__line"></div>
			<div class="nav__icon__hamburguer__line"></div>
		</div>

		<span class="nav__icon__close material-symbols-outlined" [class.active]="menuIsOpen">close</span>
	</div>

	<div class="nav__mobile" [class.active]="menuIsOpen">
		<div *ngTemplateOutlet="menu"></div> 
	</div>

	<ng-template #desktopMenu>
		<div *ngTemplateOutlet="menu"></div>
	</ng-template>
</nav>

<!-- Menu items template -->
<ng-template #menu>
	<ul class="nav__menu">
		<li><a href="#" [tabIndex]="1" title="Home">Home</a></li>
		<li><a href="#" [tabIndex]="2" title="Collection">Collection</a></li>
		<li><a href="#" [tabIndex]="3" title="About">About</a></li>
		<li><a href="#" [tabIndex]="4" title="Contact">Contact</a></li>
	</ul>
</ng-template>